:root {
    color-scheme: light dark;
    --default-text: #777;
    --title-text: #777;
    --header-text: #111;
    --opaque-back: #111;
    --opaque-text: #fff;
    --clear-back: transparent;
    --clear-text: #f7f7f7;
    --clear-text-alt: #fff;
    --lighter-text: #777;
    --lighter-back: whitesmoke;
    --darker-text: #ddd;
    --darker-back: #282E34;
    --darker-alt-text: #252729;
    --darker-alt-back: #585a5f;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 'Raleway', sans-serif;
    color:var(--default-text);
}
html {
    scroll-behavior: smooth
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px 'Raleway', sans-serif;
    color:var(--header-text);
    text-align: center;
}

.judah.nodecor {
    text-decoration: none !important;
}

.judah.parallax {
    position: relative;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.judah.parallax.fire {
    background-image: url("../media/fire.jpg");
}
.judah.parallax.snow {
    background-image: url("../media/snow.jpg");
}
.judah.parallax.self {
    background-image: url("../media/judah.jpg");
}
.judah.parallax.sunset {
    background-image: url("../media/sunset.jpg");
}
.judah.parallax.nyc {
    background-image: url("../media/nyc.jpg");
}
.judah.parallax.rain {
    background-image: url("../media/rain-warm.jpg");
}
.judah.parallax.dawn {
    background-image: url("../media/dawn.jpg");
}
.judah.relative {
    position: relative;
}
.judah.content {
    padding: 50px 80px;
    text-align: left;
}
.judah.content::after {
    content: "";
    clear: both;
    display: table;
}
.judah.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.judah.flex-square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    padding: 15px;
    margin: 15px;
}
.judah.article {
    display: flex;
    align-items:center;
}
.judah.profile {
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
.judah.description {
    width: 100%;
}
.judah.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.judah.message {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 10px;
}
.judah.copywrite {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    width: 100%;
    font-size:10px;
    text-align: right;
}
.judah.text {
    padding: 18px;
}
.judah.dim {
    opacity: 0.75;
}
.judah.opaque {
    background-color: var(--opaque-back);
    color: var(--opaque-text);
}
.judah.clear {
    background-color: var(--clear-back);
    color: var(--clear-text)
}
.judah.clear-alt {
    background-color: var(--clear-back);
    color: var(--clear-text-alt)
}
.judah.darker {
    background-color: var(--darker-back);
    color: var(--darker-text);
}
.judah.darker-alt {
    background-color: var(--darker-alt-back);
    color: var(--darker-alt-text);
}
.judah.lighter {
    background-color: var(--lighter-back);
    color: var(--lighter-text);
}


@media only screen and (max-device-width: 1366px) {
    .judah.parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 800px) {
    .judah.article{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --default-text: #777;
        --title-text: #777;
        --header-text: #ccc;
        --opaque-back: #111;
        --opaque-text: #fff;
        --clear-back: transparent;
        --clear-text: #f7f7f7;
        --clear-text-alt: #fff;
        --lighter-text: #aaa;
        --lighter-back: #111;
        --darker-text: #ddd;
        --darker-back: #282E34;
        --darker-alt-text: #aaa;
        --darker-alt-back: #111;
    }
    body, html {
        font: 400 15px/1.8 'Raleway', sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        font: 20px 'Raleway', sans-serif;
    } 
  }