body {
    min-height: 100vh;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.hero-body.fire-background {
    /* background-image: ; */
    background-image: url("../img/fire.jpg");
    background-size: cover;
}